*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

/* Utility */

.containers{
    width: 70%;
    margin: 0 auto;    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.p-relative{
    position: relative;
}

.top-bot-padding{
    padding: 60px 0px;
}

.top-bot-padding40{
    padding: 40px 0px;
}

.mleft10{
    margin-left: 10%;
}

.mright10{
    margin-right: 10%;
}

.r-float{
    float: right;
}

.space-remove{
    font-size: 0;
}

.img-rotate{
    transform: rotate(180deg);
}

.height500{
    height: 500px;
}

.height700{
    height: 1000px;
}

.height100{
    height: 100%;
}
.align-center{
    text-align: center;
}
/* Colors */


/* Header */



#site_header{
    background-image: url(../img/jumbo.png);
    height: 715px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
}

.logo{
    float: left;
    width: 25%;
}

#logo-img{
    height: 40px;
    vertical-align: middle;
}

.menu{
    width: 50%;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.login{
    width: 25%;
    float: right;
}

.login>span{
    background-color: white;
    float: right;
    border-radius: 20px;
    padding: 10px 15px;
}

.header-content{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.header-content h2{
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.header-content p{
    line-height: 25px;
    font-weight: 500;
    font-size: 1.15rem;
}

.download{
    background-color: white;
    color: black;
    display: inline-block;
    font-weight: 500;
    border-radius: 25px;
    padding: 15px 25px;
    margin-top: 20px;
}


.header-content span:nth-of-type(2){
    background-color: black;
    color: white;
    margin-left: 20px;
}


/* Main */

.col-40,
.col-60{
    display: inline-block;
}

.col-60{
    width: 55%;
    float: left;
}

.col-40{
    width: 25%;
    float: left;
}

.titles{
    font-size: 2.5rem;
    line-height: 50px;

}

.paragraph{
    font-weight: 500;
    margin-top: 25px;
    font-size: 1.1rem;
    line-height: 25px;
}

.paragraph-width{
    width: 72%;
    margin: 25px auto;
    
}

.waves{
    filter: opacity(0.1);
}

.containers-full{
    background-color: rgba(230, 230, 230, 1);
}

.last-title{
    font-size: 1.6rem;
}

.last-download{
    background-color: rgba(142, 161, 225, 1);
    color: white;
    font-size: 1rem;
}

/* Footer */

#site_footer{
    background-color: rgba(35, 39, 42, 1);
    color: white;
    height: 400px;
}

#ita-logo{
    height: 12px;
}

.ita-logo{
    margin: 20px 0px;
}

.columns{
    padding-top: 50px;
}

.col1{
    width: 22%;
    float: left;
}

.col2,
.col3,
.col4,
.col5{
    width: 19%;
    float: left;
}

.social>i{
    padding-right: 15px;
}

footer ul{
    list-style: none;
}

footer ul>li:first-child{
    color:rgba(115, 138, 220, 1);
}

.col1>h3{
    color:rgba(115, 138, 220, 1);
}

footer hr{
    margin: 30px 0px;
}

.signup{
    font-weight: 500;
    border-radius: 25px;
    padding: 15px 25px;
    position: absolute;
    top: 20px;
    right: 10px;
}