*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Utility */

.containers{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.p-relative{
    position: relative;
}

/* Colors */


/* Header */

#site_header{
    background-image: url(../img/jumbo.png);
    height: 715px;
    background-size: contain;
}

#logo{
    vertical-align: middle;
    margin-right: 350px;
}

nav>ul li{
    list-style: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 50px;
}

nav>ul{
    display: inline-block;
}

nav>span{
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 300px;
}

.header-content{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.header-content h2{
    font-size: 3rem;
    margin-bottom: 40px;
}

.header-content p{
    line-height: 25px;
    font-weight: 500;
}

.download{
    background-color: white;
    color: black;
    display: inline-block;
    font-weight: 500;
    border-radius: 25px;
    padding: 15px 25px;
    margin-top: 20px;
}

.header-content span:nth-of-type(2){
    background-color: black;
    color: white;
    margin-left: 20px;
}

.download-arrow{
    font-size: rem;
}
